name: Terraform Deploy infra

on:
  workflow_run:
    workflows: ["Terraform Plan infra"]
    types:
      - completed
  workflow_dispatch:
    inputs:
      action:
        description: "What do you want to run?"
        required: true
        type: choice
        options:
          - apply
          - destroy
      confirm:
        description: "Type YES to confirm"
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_dispatch.inputs.confirm == 'YES'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout same commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Download Terraform Plan
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          run-id: ${{ github.event.workflow_run.id }}
          path: infra

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::222575804024:role/github-actions-oidc-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Apply
        if: github.event.inputs.action == 'apply'
        working-directory: infra
        run: terraform apply tfplan

      - name: Terraform Destroy
        if: github.event.inputs.action == 'destroy'
        working-directory: infra
        run: terraform destroy
